.nav_theme_3 {
    border-radius: 0;
    background-color: #fff;
}

.nav_theme_3 a {
    color: #666;
}

.nav_theme_3 a:hover {
    color: #fff;
}

.nav_theme_3 .nav_toggle .ico_burger,
.nav_theme_3 .nav_toggle .ico_burger::before,
.nav_theme_3 .nav_toggle .ico_burger::after {
    background-color: #666;
}

.nav_theme_3 .nav_toggle:hover .ico_burger,
.nav_theme_3 .nav_toggle:hover .ico_burger::before,
.nav_theme_3 .nav_toggle:hover .ico_burger::after {
    background-color: #fff;
}

.nav_theme_3 .nav_search_toggle .ico_search {
    border: 2px solid #666;
}

.nav_theme_3 .nav_search_toggle .ico_search::after {
    background-color: #666;
}

.nav_theme_3 .nav_search_toggle:hover .ico_search {
    border: 2px solid #fff;
}

.nav_theme_3 .nav_search_toggle:hover .ico_search::after {
    background-color: #fff;
}